.footer {
	background-color: var(--main-bg-color);
	background-blend-mode: multiply;
	bottom: 0;
	padding: 15px;
	font-size: 1.2rem;
	color: var(--main-text-color);
}

.footer_link {
	color: var(--main-text-color);
}

.footer_link:hover {
	color: var(--main-text-color);
	text-decoration: underline;
	cursor: pointer;
	transition: 0.3s ease-in;
}
