.header {
	box-shadow: 0px 3px 6px #00000029;
}

.header_offcanvas {
	background-color: var(--main-bg-color);
}

.header_offcanvas,
.header_link {
	color: var(--main-text-color);
}

.header_link:hover {
	color: var(--main-text-color);
	cursor: pointer;
	transition: 0.3s ease-in;
	font-size: 1.2rem;
}
