.home {
	min-height: 79vh;
	max-width: 100vw;
}

.about {
	padding: 10px;
	background-color: var(--main-bg-color);
	color: var(--main-text-color);
}

.aboutLottieContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.aboutLottie {
	height: 400px;
	width: 400px;
	background-color: var(--secondary-bg-color);
	border-radius: 10px;
}

.accordionBody {
	background-color: var(--secondary-bg-color);
	color: var(--secondary-text-color);
	text-align: left;
	padding: 10px;
}

.exploreMoreBtn {
	margin: 10px;
	padding: 10px;
	background-color: var(--main-bg-color);
}
.exploreMoreBtn:focus {
	outline: none;
	box-shadow: none;
}
