.titleCard {
	text-align: center;
	background-color: var(--main-bg-color);
	color: var(--main-text-color);
}

.titleCard:hover {
	cursor: pointer;
	padding: 10px;
	transition: 0.3s ease-in;
}

.titleCardPoster {
	height: 400px;
	object-fit: fill;
}

.titleCardTitle {
	margin-top: 5px;
	text-align: start;
	padding: 5px;
}

.titleLine {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 5px;
}

.smallInfo {
	font-size: 0.8rem;
}

@media only screen and (max-width: 600px) {
	.titleCardPoster {
		height: 300px;
	}
}
