.titleDetailsContainer {
	box-shadow: 0 0 20px var(--main-bg-color);
	padding: 20px;
}

.titleDetails {
	border-radius: 20px;
	padding: 10px;
}
.posterContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.poster {
	height: 100%;
	object-fit: contain;
}

.titleSection {
	position: sticky;
	z-index: 5;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.streamingIconContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.streamingIcon {
	width: 50px;
	height: 50px;
	object-fit: contain;
}

.titleInfo {
	padding: 5px;
}

.titleInfo span {
	font-size: 0.9rem;
	color: var(--subtle-text-color);
}

.otherInfo {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.rating {
	font-size: 2rem;
	font-weight: bold;
}

.optionsBtn {
	cursor: pointer;
	font-size: 1.4rem;
}

.optionsBtn:hover {
	font-size: 1.8rem;
	transition: 0.3s ease-out;
}

.optionsList {
	list-style-type: none;
	padding: 3px;
}

.option {
	font-size: 0.9rem;
	cursor: pointer;
	margin-bottom: 10px;
	padding: 2px;
}

.optionLink {
	color: var(--subtle-text-color);
}
.optionLink:hover {
	font-size: 1rem;
	transition: 0.3s ease-out;
}

.info {
	padding: 10px;
}

.infoTitle {
	color: var(--subtle-text-color);
	padding: 2px;
	margin: 5px;
}

.reviews {
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.reviewCard {
	width: 70%;
	background-color: var(--main-bg-color);
	color: var(--main-text-color);
	box-shadow: 0 0 20px var(--main-bg-color);
}

.reviewHeader {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

.reviewHeaderLeft {
	padding: 5px;
	font-size: 1.4rem;
}
.reviewHeaderRight {
	padding: 5px;
	font-size: 2rem;
	text-align: center;
}

.reviewUsername {
	color: rgb(221, 216, 216);
	font-weight: bold;
	padding: 2px;
	margin: 2;
}

.reviewDate {
	font-weight: 100;
	font-size: 0.8rem;
	margin: 2px;
	padding: 2px;
}

@media only screen and (max-width: 500px) {
	.reviewCard {
		width: 100%;
	}
}
